@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {

    /**
        UI STYLES (you can add rules of your design kit)
     */
    --ui-unit: 4px;
    --ui-col: 40px;
    --ui-primary-color: #201658;
    --ui-secondary-color: #1d24ca;
    --ui-additional-color: #98abee;
    --ui-white-color: #f9e8c9;
    --ui-black-color: #000;
    --ui-error-color: #ff3636;
    --ui-border-radius-m: calc(var(--ui-unit) * 8);
}

body {
    background-color: var(--ui-white-color);
    font-family: 'Roboto', sans-serif;
    color: var(--ui-black-color);
}

.container {
    width: 800px;
    margin: 0 auto;

    @include respond-to(tablet) {
        width: 100%;
        padding: 0 calc(var(--ui-unit) * 5);
    }
}
